*{
    box-sizing:border-box;
    margin:0;
    padding:0; 
}

body {font-size:16px;
    line-height:22px;
}

ul {margin:0;
}
li {list-style:none;
}

a:link {color:#000;
}

a:hover {color:#8b6914;
} 

a:visited {color:#aaa; 
}

a:active {text-decoration:underline;
}
/*-------------layout elements*/

div#wrapper {background-color:#fff; width:960px; 
}
div#header {height:120px; text-align:center
}
div#nav { width:235px; float:left 
}
div#article { width:725px; float:left; 
}
div#footer {clear:both;text-align:center;
}

header {display: inline;
        text-align:center
}


aside {float:left;
       border: 5px;
       border: solid #8b6914; 
       margin-right: 45px; 
       margin-bottom: 20px; 
}

/*------------homepage elements*/

h2.homearticle{font-size:25px;
           padding-bottom:10px;
            text-align:center
}
h3.homearticle{font-size:20px;
           padding-bottom:5px;
            text-align:center
}
h4.homearticle{font-size:18px;
           padding-bottom:5px;
}


a.homenav{
    border-radius: 50px;
  	width: 100px;
  	height: 100px; 
  	display:block;
	float: left;
	font-family: sans-serif;
    text-align: center;
  	margin-bottom: 60px;
  	margin-left:60px;
  	line-height: 100px;
    background-color:#8b6914  	
}

a.homenav:link {
  	background-color: #8b6914;
  	color: #fff;  	
}

a.homenav:hover {
	color: #000;
	background-color: #e1e1e1;
}

a.homenav:visited {
    color:#fff;
    background-color:#8b6914;
}

/*-------aboutpage elements*/



